<!DOCTYPE html>
<html>
<head>
  <% if request.host == 'www.humanex.hu' %>
    <%= render partial: 'head' %>
  <% elsif request.host == 'www.humanex-tech.com' %>
    <%= render partial: 'en_head' %>
  <% end %>
  <meta name="robots" content="all">
  <meta name="rating" content="general">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="14 days">
  <meta name="doc-type" content="web page">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  "http://maps.googleapis.com/maps/api/js?key=" + API_KEY  + "&sensor=false"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-608297-10");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</head>
<body>

<%= yield %>

</body>
</html>
